body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: -.5em -.5em;
	background-color: #bbdddb;
}

.header{
	background-color: #EBF4F4;
	padding-top: 3em;
	padding-bottom: 1em;
}

.title{
	font-family: 'Bevan', cursive;
	font-size: 3.5em;
	color: #66A8A8;
}

.add{
	background-color: #66A8A8;
	padding-top: 1.5em;
	padding-bottom: 3em;
}

.need{
	color: white;
	font-size: 1.5em;
	font-weight: 400;
}

.inputitem{ 
	border-style: dotted;
	border-radius: .5em;
	border-width: .1em;
	font-size: 2em;
	border-color: #bbdddb;
	padding-top: .25em;
	padding-bottom: .25em;
    background: white;
    color: #DF4643;
    text-align: center;
    width: 44%;
}

.add-item{
	position: absolute;
	margin-left: -4.25em;
	margin-top: .65em;
}

.yourlist{
	margin-top: 4em;
	width: 50%;
	margin-left: 25%;
	margin-right: 24%;
	border-radius: 1.25em;
	border-style: dotted;
	overflow: hidden;
	border-color: #66A8A8;
	margin-bottom: 4em;
}

.shopping-list{
	display: table;
	list-style: none;
	width: 100%;
	color: #66A8A8;
	font-size: 1.25em;
	border-collapse: collapse;
	margin: 0 0;
}

li{
	display: table-row;
	text-align: center;
	vertical-align: middle;
}

li > p{
	padding-right: 1em;
}

.column{
	display: table-cell;
	line-height: 3em;
}

li:nth-child(odd) {
	background: #EBF4F4;
	overflow: hidden;
}

.checked{
	font-family: 'Codystar', cursive;
	font-weight: 400;
}

.unchecked{
	font-family: 'Roboto', sans-serif;
}

input[type=checkbox]{
	margin-left: 1em;
	-ms-transform: scale(2.75); /* IE */
 	-moz-transform: scale(2.75); /* FF */
 	-webkit-transform: scale(2.75); /* Safari and Chrome */
  	-o-transform: scale(2.75);
	vertical-align: middle;
}

.delete-item{
	margin-bottom: -1em;
	margin-left: -1.65em;
}

@media only screen and (max-width: 700px) and (min-width: 500px){
	.title{
		font-size: 2.5em;
	}
	.cart{
		height: 10em;
	}
	.need{
		font-size: 1em;
	}
	.inputitem{ 
		font-size: 1.5em;
		line-height: 1.75em;
	}
	.yourlist{
		margin-top: 3em;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}

	.shopping-list{
		font-size: 1em;
	}
	.delete-item{
	margin-bottom: -1em;
	margin-left: -2em;
	}
	li > p{
	padding-right: 3em;
	}
}

@media only screen and (max-width: 501px){
	.title{
		font-size: 2em;
	}
	.cart{
		height: 6em;
	}
	.need{
		font-size: 1em;
	}
	.inputitem{ 
		font-size: 1em;
		line-height: 2em;
		width: 50%;
		margin-left: -3em;
	}
	.yourlist{
		margin-top: 3em;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.shopping-list{
		font-size: 1em;
	}

	.add-item{
		position: absolute;
		margin-left: 1em;
		margin-top: 0;
	}
	.delete-item{
	margin-bottom: -1em;
	margin-left: -2em;

	}
	li > p{
	padding-right: 3em;
	}
}